* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calc-container {
  display: grid;
  width: 30rem;
  height: 28rem;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin: 5rem auto;
  border: 1px solid lightgray;
}

.output {
  grid-column: 1/5;
  background-color: lightgray;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.3rem;
  color: #ff07d1;
  font-size: 25px;
  padding-right: 20px;
}
