nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: pink;
}

nav h1 {
  color: #ba259a91;
  font-size: 40px;
  margin-left: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin: 0px 20px;
  font-size: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #ba259a91;
}

nav ul li:hover {
  text-decoration: underline;
  color: #ff07d1;
}
